* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

body {
    background-color: #111;
    color: #fff;
}

.ribbon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background-color: #9B3922;
    z-index: -1;
}

.panel {
    background-color: #222;
    margin: auto;
    width: calc(100% - 1rem);
    max-width: 42rem;
    margin-top: 10vh;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5), 0px 0.3rem 0.25rem 0 rgba(0, 0, 0, 0.5);
}

.panel__title, .panel__subtitle {
    font-family: 'Creepster', sans-serif;
}

.panel__title {
    font-size: 3rem;
    color: #F2613F;
}

.panel__subtitle {
    font-size: 2rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.panel__ps {
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0.5rem;
}

.panel__buttons {
    display: block;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

.button {
    background-color: #F2613F;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.25rem 0 rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.button:hover {
    box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.6);
}

.button + .button {
    margin-left: 1rem;
}

.button__icon {
    width: 2rem;
    height: 2rem;
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;
}


.camera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.camera__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.camera__button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

.camera__button svg {
    width: 3rem;
    height: 3rem;
}

.camera__button--left {
    left: 1rem;
    bottom: 1.5rem;
    transform: none;
}

.camera__button--top {
    top: 0;
    left: 0;
    bottom: auto;
    transform: none;
}

.camera__button--left svg, .camera__button--top svg {
    width: 2rem;
    height: 2rem;
}

.preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.preview__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
